name: Dasthigir Test
on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:
jobs:
  testing:
    runs-on: ubuntu-20.04

    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v4
